/* Write your CSS here */
.container {
  display: 'flex';
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-image: linear-gradient(to left, #e2a139, #f9d423);
  height: 100vh;
  background-size: cover;
  padding: 20px;
}
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
  max-width: 60%;
}

.image {
  width: 30%;
  height: 30%;
}

.heading {
  color: #a35200;
  font-size: 40px;
  font-weight: bold;
}

.button {
  border-style: none;
  border-radius: 5px;
  background-color: #e2a139;
  padding: 5px;
  color: #a35200;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px;
  color: #475569;
  margin-right: 4px;
  font-size: 18px;
}

.heading2 {
  color: #334155;
  font-size: 26px;
  font-weight: 500;
  font-family: 'Roboto';
}
